.sidebar {
  width: 220px;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #f9f9f9 0%, #f2f2f2 50%, #ffffff 100%);
  background-attachment: fixed;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.08);

  color: #EAE7DC;
}



.logo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #1f2937;
  padding: 8px;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}

a:hover {
  background: rgba(103, 105, 109, 0.08);
  color: #000000;
}

a.active {
  background: #aaa6a6;
  color: white;
}
